@import './_var'


.form
    --inputsize: 42px
    --labelbefore: #314158
    --borderbefore: #D1D5DC
    --borderafter: var(--black)
    --labelfontbefore: 14px
    --font: 500
    --inputsize: 42px
    --color: var(--black)
    --borderwidth: 1px
    --textareaheight: 86px
    --paddingleftright: 15px
    --paddingtopbottom: 10px
    .form-group
        position: relative
        flex: 0 1 100%
        max-width: 100%
        width: 100%
        --selectheight: var(--inputsize)
        label
            display: inline-block
            font-size: var(--labelfontbefore)
            color: var(--labelbefore)
            margin-bottom: 8px
            @include font(500)
            line-height: 1.3
        input,textarea
            height: calc(var(--inputsize) - var(--borderwidth))
            border: 1px solid var(--borderbefore)
            resize: none
            outline: none
            border-radius: 8px
            width: 100%
            background: none
            color: var(--color)
            font-size: inherit
            font-family: inherit
            cursor: initial
            padding: 0 var(--paddingleftright)
            transition: .3s ease
            &:focus,&.valid
                border-color: $black
        textarea
            height: var(--textareaheight)
            border: 1px solid var(--borderbefore)
            resize: none
            outline: none
            width: 100%
            background: none
            color: var(--color)
            font-size: inherit
            font-family: inherit
            line-height: 1.2
            cursor: initial
            @include scrollbar(2px,none,$primary,15px)
            padding: var(--paddingtopbottom) var(--paddingleftright)
            &:focus,&.valid
                border-color: $black
                // margin-top: 13px
                // height: calc(var(--textareaheight) - 13px)
        select
            &:focus
                outline: none
            &.valid
                color: var(--color)
        &.file-input
            input[type="file"]
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                width: 100%
                height: 100%
                opacity: 0
                z-index: 4
                cursor: pointer
            .file-name
                pointer-events: none
                height: calc(var(--inputsize) - var(--borderwidth))
                position: relative
                --filename: 'Attach Resume* (.pdf, .doc, .docx)'
                --filenameinitial: var(--filename)
                --color: var(--text)
                --background: none
                --image: url(../../icon/clip.svg) no-repeat
                appearance: none
                line-height: calc(var(--inputsize) - var(--borderwidth))
                &::before,&::after
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                &::before
                    content: var(--filenameinitial)
                    z-index: 2
                    font-family: inherit
                    font-size: inherit
                    line-height: calc(var(--inputsize) - var(--borderwidth))
                    padding-left: var(--paddingleftright)
                    color: var(--color)
                    width: 80%
                    overflow: hidden
                    text-overflow: ellipsis
                    background: none
                &::after
                    content: ''
                    right: 0
                    background: var(--image)
                    background-repeat: no-repeat
                    z-index: 1
                    background-position: calc(100% - var(--paddingleftright,0)) 50%
                    background-size: auto 50%
        .error
            position: absolute
            top: calc(100% + 3px)
            left: 0
            right: 0
            color: red
            line-height: normal
            font-size: 12px    
            &.static
                position: static
                margin: 10px 0
    .submit-grp
        &:not(.text-left)
            text-align: center
            margin-top: 23px
.custom-select
    max-width: 100%
    border-radius: 10px
    cursor: pointer
    display: block
    font-family: inherit
    height: var(--selectheight)
    border: 1px solid var(--borderbefore)
    position: relative
    transition: all .2s ease-in-out
    user-select: none
    white-space: nowrap
    padding: 0 var(--paddingleftright)
    height: calc(var(--inputsize) - var(--borderwidth))
    --arrow: 15px
    --arrowspace: 8px
    // --paddingleftright: 0
    &.has-icon
        --iconsize: 12px
        --iconurl: url(../../icon/location-gradient.svg)
        --iconspace: 8px
        @include after
        &::after
            left: 0
            width: var(--iconsize)
            background-image: var(--iconurl)
            background-repeat: no-repeat
            background-size: 100% auto
            background-position: 0 50%
        .current
            padding-left: calc(var(--iconsize) + var(--iconspace))
            padding-right: calc(var(--arrow) + var(--iconsize) + var(--arrowspace) + var(--iconspace))
    &::before
        content: ''
        position: absolute
        top: 0
        right: var(--paddingleftright)
        bottom: 0
        width: var(--arrow)
        background-image: url(../../icon/arrow-down-gray.svg)
        background-position: 0 50%
        background-repeat: no-repeat
        background-size: 100% auto
    .current
        display: block
        width: 100%
        overflow: hidden
        text-overflow: ellipsis
        line-height: var(--inputsize)
        color: var(--labelbefore)
        font-size: var(--labelfontbefore)
        font-weight: var(--font)
        padding-right: calc(var(--arrow) + var(--arrowspace))
        &.selected
            color: var(--color)
    .list
        text-align: left
        background-color: #fff
        box-shadow: rgba(0,0,0,.16) 0px 1px 4px
        overflow: hidden
        position: absolute
        top: 100%
        left: 0
        right: 0
        opacity: 0
        transform-origin: 50% 0
        z-index: 7
        max-height: 180px
        overflow-y: auto
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        @include scrollbar(4px,none,$text,5px)
        pointer-events: none
        li
            display: block
            line-height: 1.2
            padding: 8px 16px
            white-space: break-spaces
            font-size: 14px
            &.selected
                background: $primary
                color: $white
                &:hover
                    background: $primary
                    color: $white
            &:hover
                background: #e2e2e2
    &.open
        .list
            opacity: 1
            pointer-events: auto
            transform: scale(1) translateY(0)

.filter-ul
    li
        @include checkbox-full
        &:not(:last-child)
            margin-bottom: 10px
        p
            font-size: 14px
            color: $text

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
    border-radius: 50%
    background: $black
    border-color: $black
    height: 17px
    width: 17px
    border: none !important
    top: 50%
    translate: 0 -50%
    &:focus
        outline: none
.ui-slider-horizontal
    height: 2px
    border: none !important
.ui-widget-content
    background: #CECECE
    border: none !important
.ui-widget-header
    background: $black

.checkbox-full
    @include checkbox-full

.radio-full
    @include radio-full